
$basic-color: #3c3c3c;
$title-color: #464646;
$first-color: #CAD315;
$second-color: #3D97EA;

$header-height: 50px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    align-items: center;
    justify-items: center;
}

html {
    overflow: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    
}

.header {
    width: 100%;
    height: $header-height;
    background-color: $first-color;
}

.main {
    @extend .flex;
    flex-direction: column;
    
    height: calc(100% - 50px);
}

.landing {
    @extend .grid;
    grid-template-columns: 1fr 1fr;
  
    width: 80%;
    height: 70%;
}

.landing__right {
    @extend .flex;
    width: 100%;
    height: 100%;
}
.landing__left {
    @extend .grid;
    justify-items: left;
    width: 100%;
    height: 100%;
    grid-template-rows: 40% 20% 20%;
    padding-top: 4rem;
}

h3 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;

    color: $title-color;
}

h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;

}

.svg_wrapper {
    height: 90%;
    width: 90%;
    svg {
        height: 100%;
        width: 100%;
    }
}

.button {
    @extend .flex;
    
    text-decoration: none;
    
    border-radius: 20px;
    height: 35px;
    width: 150px;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;

    background-color: $basic-color;
    color: white;
}

.button--start {
    color: white;
    font-size: 1.2rem;
    background-color: $second-color;

    border-radius: 20px;
    height: 40px;
    width: 175px;

    grid-row-start: 3;
}

.browser-wrapper {
    @extend .grid;
    grid-template-columns: 15% 60% 25%;

    width: 100%;
    height: 100%;

}
.browser__navbar {
    @extend .flex;

    background-color: $first-color;
    width: 100%;
    height: 100%;

    ul {
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        color: white;

        li {
            margin: 20px 0;
        }
    }
}

.browser__content {
    @extend .flex;
    flex-direction: column;
    padding-top: 10%;
    width: 100%;
    height: 100%;

    .project-card {
        width: 80%;
        height: 200px;
        margin: 10px;
    
        background: #fefefe;
        border: 1px solid black;
        border-radius: 5px;
    }
}


.browser-playlist {
    @extend .flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: lightblue;

}

.playlist-wrapper{
    @extend .flex;
    flex-direction: column;

    width: 80%;
    height: 50%;

    border-radius: 10px;

    background-color: $basic-color;
    iframe {
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }
    .button {
        height: 50px;
    }
}