

.header {
    @extend .flex;
    justify-content: space-between;

    width: 100%;
    height: $header-height;

    padding: 10px;

    

    &--browser {

        justify-content: center;

        ul {
            @extend .flex;
    
            list-style: none;
            float: left;
    
            text-align: center;
            font-size: 1.25rem;
            color: white;
    
            li {
                cursor: pointer;
                
                background-color: $first-color;
                padding: 5px 30px;
                border-radius: 20px;
                margin: 0px 20px;
    
                a {
                    text-decoration: none;    
                    color: white;
                }
            }
    
    
        }
    }
}


h3 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;

    color: $title-color;
}

h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;

}



.button {
    @extend .flex;
    
    text-decoration: none;
    outline: none;
    border: none;

    cursor: pointer;
    
    border-radius: 20px;
    height: 35px;
    width: 150px;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;

    background-color: $basic-color;
    color: white;

    &--home {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $second-color;

        svg {
            
            path {
                fill: white;
            }
        }
    }
    &--create {
        font-size: 1rem;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $second-color;

        svg {
            
            path {
                fill: white;
            }
        }
    }

    &--save {

        &::after{
            content: 'Guardar';
        }
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
        transition: 200ms;
    }

    &--log-in {
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
    }
    &--log-out {
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
    }

    &--start {
        color: white;
        font-size: 1.2rem;
        background-color: $second-color;
    
        border-radius: 20px;
        height: 40px;
        width: 175px;
    
        grid-row-start: 3;
    }
}


.project-card {
    @extend .grid;

    width: 80%;
    height: 250px;

    border-radius: 5px;
    background-color: #efefef;
    margin: 5% 0;

    grid-template-columns: 70% 30%;

    .info {
        @extend .grid;
        justify-items: left;
        grid-template-rows: 40% auto;
        
        width: 100%;
        height: 100%;
        padding: 20px;

        .title {
            font-size: 2.5rem;
            font-weight: 100;
        }
        .description {
            font-size: 1.5rem;
        }
        .author {
            font-size: 1rem;
        }
    }
    .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        img {
            width: 100%;
        }
    }
}


#whenSignedIn {
    @extend .flex;
}
#whenSignedOut {
    @extend .flex;
}

#user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    margin: 0 10px;
}

.saved {
    background-color: $first-color;
    &::after{
        content: 'Guardado';
    }
}