

.header {
    @extend .flex;

    width: 100%;
    min-height: $header-height;
    padding: 10px 20px;


    &--landing {
        justify-content: space-between;

    }

    &--reader {
        padding: 10px 0;
    }

    &--editor {
        justify-content: space-between;

    }
    &--browser {

        justify-content: center;

        width: 100%;

        .categories-list {
            @extend .grid;
            @extend .fill;

            grid-template-columns: repeat(6, 1fr);
            gap: 1%;
            list-style: none;
            float: left;
    
            text-align: center;
            font-size: 1.25rem;
            color: #333;
    
            li {
                cursor: pointer;
                padding: 5px 0; 
            
                a {
                    text-decoration: none;    
                }
            }
    
    
        }

        .categories-select {
            display: none;
        }
    }

    &--reader {
        justify-content: space-between;

    }
}

.underline {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: -5px;
        background: $second-color;
        height: 4px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    
    &:hover:after,
    &:focus:after,
    &:active:after {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.footer {
    @extend .flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 7vh;
    background-color: #333;
}


.button {
    @extend .flex;
    
    text-decoration: none;
    outline: none;
    border: none;

    z-index: 100;

    cursor: pointer;
    
    border-radius: 20px;
    height: 35px;
    width: 150px;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;

    background-color: $basic-color;
    color: white;

    &--home {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $second-color;

        svg {
            width: 20px;
            height: 20px;
            path {
                fill: white;
            }
        }
    }
    &--create {
        position: fixed;
        bottom: 50px;
        right: 50px;
        font-size: 1rem;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: $first-color;

        svg {
            
            path {
                fill: white;
            }
        }
    }

    &--save {

        &::after{
            content: 'Guardar';
        }
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
        transition: 200ms;
    }

    &--log-in {
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
    }
    &--log-out {
        height: 35px;
        width: 105px;
        border-radius: 20px;
        background-color: $second-color;
    }

    &--start {
        color: white;
        font-size: 1.2rem;
        background-color: $second-color;
    
        border-radius: 20px;
        height: 40px;
        width: 175px;
    
        grid-row-start: 3;
    }

    
    &--delete {
        position: absolute;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 600;
        background-color: rgba(51, 51, 51, 0.589);
        width: 25px;
        height: 25px;
        top: 0;
        right: 0;
    }
}


.card {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 450px;

    background-color: white;

    transition: 200ms;
    margin: 10px;
    gap: 5%;

    // background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px rgba(134, 134, 134, 0.027);

    
    &__image {
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    &__main {
        @extend .flex;
        justify-content: flex-start;
        flex-direction: column;

        position: absolute;
        top: 40%;
        height: 100%;
        width: 100%;

        border-radius: 10px;

        background-color: white;
        padding: 15px;
        padding-top: 30px;
        gap: 10px;

        .title {
            font-size: 2rem;
            font-weight: 500;
        }
        .description {
            font-size: 1.25rem;
            overflow-wrap: break-word;
        }
        
        transition: top 300ms, padding-top 300ms;

        &:hover{
            padding-top: 50px;
            top: 0px;
        }
 
    }

    &__footer {
        @extend .flex;
        position: absolute;
        bottom: 0;
        background-color: white;

        height: 10%;
        width: 100%;

        box-shadow: 0px -2px 20px 0px rgb(255, 255, 255);

        .author {
            font-size: 1rem;
        }
    }

    &__tag {
        display: inline;
        padding: 5px 20px;
        border-radius: 25px;

        font-weight: 500;
        color: white;
    }

}


.whenSignedIn {
    @extend .flex;
    display: none;
}
.whenSignedOut {
    @extend .flex;
    display: none;
}

.user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    margin: 0 10px;
}

.selected {
    transform: scale(1.1);
}
.saved {
    background-color: $first-color;
    &::after{
        content: 'Guardado';
    }
}


select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}