
@media screen and (max-width: 500px) {
    .landing{
    
        &__main {
            grid-template-columns: 1fr;
        }
        &__left {
            grid-template-rows: 60% 20% 20%;

            h3 {
                font-size: 2.5rem;
            }
            h4 {
                line-height: normal;
            }
        }
    }

    .button {


        &--start {
            font-size: 1rem;
            width: 100px;
            height: 30px;
        }

        &--create {
            width: 45px;
            height: 45px;
            bottom: 20px;
            right: 20px;
        }
    }
    
    .header{
        &--browser {
            display: none;
            // height: auto;
            // ul {
            //     grid-template-columns: 1fr 1fr;
    
            //     li {
            //         margin-bottom: 10px;
            //     }
            // }
        }
    }

    .browser__content {
        grid-template-columns: 1fr;
    }

    .editor {

        #title-input {
            font-size: 2.25rem;
        }
        #description-input {
            font-size: 1.25rem;
        }

        &__bar {
            width: 80vw;
            height: 30px;
        }
    }

    .reader {
        #title, #author, #image, #description, #content {
           
            width: 80%;
        }
    }
}
@media screen and (min-width: 500px) {
    .landing__main {
        grid-template-columns: 1fr 1fr;
    }
    
    .header{
        &--browser {
            height: auto;
            ul {
                grid-template-columns: 1fr 1fr 1fr;
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .browser__content {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .landing__main {
        grid-template-columns: 1fr 1fr;
    }
    
    .header{
        &--browser {
            height: auto;
            ul {
                grid-template-columns: 1fr 1fr 1fr;
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .browser__content {
        grid-template-columns: 1fr 1fr;
    }

    .editor {
        &__bar {
            width: 50vw;
            height: 30px;
        }
    }
}
@media screen and (min-width: 800px) {
    .landing__main {
        grid-template-columns: 1fr 1fr;
    }
    
    .header{
        &--browser {
            height: auto;
            ul {
                grid-template-columns: repeat(6, 1fr);
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .editor {
        &__bar {
            width: 30vw;
            height: 30px;
        }
    }

}
