
@media screen and (max-width: 500px) {

    .section {
        padding: 0 5%;
    }
    .landing{
        &__main{
            h3 {
                font-size: 2.5rem;
            }
            h4 {
                line-height: normal;
            }
        }
    }

    .button {
        &--create {
            width: 45px;
            height: 45px;
            bottom: 20px;
            right: 20px;
        }
    }
    
    .header{
        &--browser {
            .categories-list {
                display: none;
            }
            .categories-select {
                display: block;
            }
        }

        &--editor {
            padding: 0;
        }
    }

    .editor {

        #title-input {
            font-size: 2.25rem;
        }
        #description-input {
            font-size: 1.25rem;
        }

        &__bar {
            width: 80vw;
            height: 30px;
        }
    }

    .reader {
        #author {
            font-size: 1rem;
        }
        #title{
            font-size: 2.5rem;
        }
        
        #description{

            font-size: 1.5rem;
        }
        
        #content {
            font-size: 1rem;
        }
    }
}
@media screen and (min-width: 500px) {

    .header{
        &--browser {
            height: auto;
            
            .categories-list {
                grid-template-columns: 1fr 1fr 1fr;
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .landing__main {
        grid-template-columns: 1fr 1fr;
    }
    
    .header{
        &--browser {
            height: auto;
            .categories-list {
                grid-template-columns: 1fr 1fr 1fr;
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .editor {
        &__bar {
            width: 50vw;
            height: 30px;
        }
    }
}
@media screen and (min-width: 800px) {

    .header{
        &--browser {
            height: auto;
            .categories-list {
                grid-template-columns: repeat(6, 1fr);
    
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .editor {
        &__bar {
            width: 30vw;
            height: 30px;
        }
    }

}
