
.reader { 
    @extend .flex;

    padding: 0 20%;

    overflow: hidden;
    flex-direction: column;
    height: auto;
    margin-bottom: 20vh;

    .element {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .image {

    }

    .heading1 {
        margin-top: 50px;
    }

    #author {
        font-size: 1.25rem;
        margin-top: 60px;
    }

    #title {
        font-size: 3.5rem;
        font-weight: 600;
        border-bottom: 1px solid gray;
    }
    #image-wrapper {
    }
    #image {
        margin-bottom: 50px;
        height: auto;
        visibility: hidden;
    }
    #description {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 50px;

    }
    #content {
        font-size: 1.5rem;
        font-weight: 300;
        overflow: hidden;
    }
}
