
$basic-color: #3c3c3c;
$title-color: #464646;
$first-color: #CAD315;
$second-color: #3D97EA;

$header-height: 75px;

$env-color: #CAD315;
$tech-color: #3D97EA;
$medicine-color: #ec524b;
$music-color: #ffdd93;
$food-color: #a05344;
$other-color: #7e7474;

