* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.flex, .header, .header--browser ul, .button, #whenSignedIn, #whenSignedOut, .landing, .landing__right, .playlist-wrapper, .editor, .reader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid, .project-card, .project-card .info, .landing__main, .landing__left, .browser__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 10px;
}

.header--browser {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--browser ul {
  list-style: none;
  float: left;
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

.header--browser ul li {
  cursor: pointer;
  background-color: #CAD315;
  padding: 5px 30px;
  border-radius: 20px;
  margin: 0px 20px;
}

.header--browser ul li a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5rem;
  color: #464646;
}

h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}

.button {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  height: 35px;
  width: 150px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  background-color: #3c3c3c;
  color: white;
}

.button--home {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #3D97EA;
}

.button--home svg path {
  fill: white;
}

.button--create {
  font-size: 1rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #3D97EA;
}

.button--create svg path {
  fill: white;
}

.button--save {
  height: 35px;
  width: 105px;
  border-radius: 20px;
  background-color: #3D97EA;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.button--save::after {
  content: 'Guardar';
}

.button--log-in {
  height: 35px;
  width: 105px;
  border-radius: 20px;
  background-color: #3D97EA;
}

.button--log-out {
  height: 35px;
  width: 105px;
  border-radius: 20px;
  background-color: #3D97EA;
}

.button--start {
  color: white;
  font-size: 1.2rem;
  background-color: #3D97EA;
  border-radius: 20px;
  height: 40px;
  width: 175px;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.project-card {
  width: 80%;
  height: 250px;
  border-radius: 5px;
  background-color: #efefef;
  margin: 5% 0;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.project-card .info {
  justify-items: left;
  -ms-grid-rows: 40% auto;
      grid-template-rows: 40% auto;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.project-card .info .title {
  font-size: 2.5rem;
  font-weight: 100;
}

.project-card .info .description {
  font-size: 1.5rem;
}

.project-card .info .author {
  font-size: 1rem;
}

.project-card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-card .image img {
  width: 100%;
}

#user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
}

.saved {
  background-color: #CAD315;
}

.saved::after {
  content: 'Guardado';
}

.landing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.landing__main {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 70%;
}

.landing__right {
  width: 100%;
  height: 100%;
}

.landing__left {
  justify-items: left;
  width: 100%;
  height: 100%;
  -ms-grid-rows: 40% 20% 20%;
      grid-template-rows: 40% 20% 20%;
  padding-top: 4rem;
}

.svg_wrapper {
  height: 90%;
  width: 90%;
}

.svg_wrapper svg {
  height: 100%;
  width: 100%;
}

.browser {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.browser__content {
  padding-top: 5%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow: hidden;
}

.playlist-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  background-color: #3c3c3c;
}

.playlist-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.playlist-wrapper .button {
  height: 50px;
}

.editor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-top: 10%;
}

.editor textarea {
  resize: none;
  border: none;
  border-radius: 0;
  outline: none;
  height: auto;
  width: 60%;
  margin-bottom: 10px;
}

.editor #title-input {
  font-size: 4rem;
  font-weight: 600;
  height: 4rem;
  border-bottom: 1px solid gray;
}

.editor #image-input {
  font-size: 1rem;
  font-weight: 300;
  height: 4rem;
}

.editor #subtitle-input {
  font-size: 3rem;
  font-weight: 400;
  height: 5rem;
}

.editor #description-input {
  font-size: 2rem;
  font-weight: 400;
  height: 5rem;
}

.editor #content-input {
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
}

.header--editor {
  padding: 10px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reader {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-top: 5%;
}

.reader h1, .reader p {
  height: auto;
  width: 60%;
  margin-bottom: 10px;
}

.reader h1 {
  font-size: 3.5rem;
  font-weight: 600;
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}

.reader #image {
  width: 60%;
  margin-bottom: 50px;
}

.reader #description {
  font-size: 2rem;
  font-weight: 400;
}

.reader #content {
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
}
